
/* ------------------- */
/* Reset               */
/* ------------------- */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve centering within parent */
  min-height: 100vh;
  background-color: var(--neutral-white);
  font-size: clamp(0.45rem, 2.5vw, 0.9rem);
  font-family: var(--font-main);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
 
	
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

:root {
--blue-950: hsl(233, 26%, 24%);
--green-500: hsl(136, 64%, 51%);
--cyan-400: hsl(192, 69%, 51%);

--gray-600: hsl(233, 8%, 62%);
--gray-100: hsl(220, 16%, 96%);
--gray-50: hsl(0, 0%, 98%);
--white: hsl(0, 100%, 100%);
--main-font-size: 1.13rem;  /* 18 px*/
--main-ff: "Public Sans", sans-serif;;
}

body {
    background-color: var(--gray-100);
    font-size: var(--main-font);
    font-family: var(--main-ff);


}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.mobile-menu {
  width: 300px;
  height: 13rem;
  background-color: var(--white);
  position: relative;
  z-index: 1000;
  display: none;
  left: 110px;
  top: 10px;
  padding-top: 1rem;
}

.desktopMenu {
  display: none;
}

.desktop-imagebg {
  display: none;
}
@media (min-width: 40rem) {
  /* change the min-width size after completed for desktop */
  
body {
  
  position: relative;
}

.openbtn {
  display: none;
}
.mobile-menu {
  display: none;
}

.desktop-imagebg {
  top: 0;
  right: 301;
  position: absolute;

}


 }  
